body{
background:#0f0f14;
color:white;
font-family:Arial;
text-align:center;
}

.center{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:#16161f;
padding:30px;
border-radius:15px;
width:320px;
}

button{
padding:10px;
margin:5px;
background:#6c7cff;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

.correct{background:green;}
.wrong{background:red;}
